{% extends 'layout.html' %}

{% block content %}
<!--    <h1>In template</h1>-->
<!--    <h1>name : {{ name }}</h1>-->
<!--    <h3>author : {{ author }}</h3>-->
<!--    <ul>-->
<!--        {% for tag in tags %}-->
<!--            <li>{{ tag }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    <h2>ระดับความนิยมของบทความ</h2>-->
<!--    {% if rating > 3 %}-->
<!--        <h2>ดีมาก</h2>-->
<!--    {% else %}-->
<!--        <h2>ไม่ได้รับความนิยม</h2>-->
<!--    {% endif %}-->
<h2 align="center">แสดงข้อมูลบทความ</h2>>
<table class="table">
  <thead>
    <tr>
<!--      <th scope="col">#</th>-->
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--    </tr>-->
  {% for blog in blogs %}

    <tr>
      <th scope="row">{{ blog.id }}</th>
      <td>{{ blog.name }}</td>
      <td>{{ blog.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}